extends layout

block content
		div.container
					header
					nav#chatUsers
						div.users
							a#player1(href="/player1")
								img.player(src="images/games.ico",width=80,height=80)
								span Player 1 join
						div.users
							a#player2(href="/player2")
								img.player(src="images/games.ico",width=80,height=80) 
								span Player 2 join
						div.users
							a#player3(href="/player3") 
								img.player(src="images/games.ico",width=80,height=80)
								span Player 3 join
						div.users
							a#player4(href="/player4") 
								img.player(src="images/games.ico",width=80,height=80)
								span Player 4 join
					ul#chatEntries
		script.
			$(document).ready(function() {
				var socket = io.connect();				
				socket.on('player', function(data){
					console.log(data);
					$('#'+data[0]['player']).parent().addClass("rotate "+data[0]['player']);
					$('#'+data[0]['player']).html("<img class='player' src='images/games.ico' width='80px' height='80px' ><span>"+data[0]['name'] +" joined.</span>");
				});
				
				socket.on('dc', function(data){
					$('#'+data.player).parent().removeClass("rotate "+data.player);
					$('#'+data.player).html("<img class='player' src='images/games.ico' width='80px' height='80px' ><span>"+data.player+" join</span>");
				});
			});
