extends layout

block content
		div.wrapper
					header
						h1 Player 1
					form#playerSubmit(action='',method='post')
						label Enter username:
						input(type='text')#name
						br
						button.btn#submit(data-loading-text="Send") Connect
					div#Feedback
					div.dc#player1 Disconnect
		script.
			$(document).ready(function() {
			$('body').addClass("p1");
			var socket = io.connect();
				$('#playerSubmit').submit(function(e){
					e.preventDefault();
					socket.emit('new player', {name: $('#name').val(), player: "player1"}, function(data){
						if(data){
							$('#playerSubmit').slideUp("slow");
							$('#Feedback').html($('#name').val()+" connected");
							$('.dc').show();
						}else{
							$('#Feedback').html($('#name').val()+" already taken.");
						}
					});
				});
				$('#player1').click(function(e){
					window.reload();
				});
			});
