body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

a {
  color: white;
  text-decoration: none;
}

.container{
	height: 700px;
	min-width: 600px;
	margin-right: 20%;
	margin-left: 20%;
}
#PlayerList{
	padding: 15px;
	display: inline-block;
	width: 100%;
	min-width: 300px;
	text-align: center;
	height: 150px;
}

.player{
	margin-left: 10px;
}

span{
	text-align: center;
	display:block;
}

.users{
	background-color: #093;
	display: inline-block;
	padding: 10px;
	width: 100px;
	text-align: left;
	height: 120px;
	margin-right: 20px;
	transition: -webkit-transform linear 0.2s;
	-moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

.rotate{
	-moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

.player1{
	background-color: #06F;
}

.player2{
	background-color:#F30;
}

.users:hover{
	-webkit-transform:scale(1.2,1.2);
}

#Game{
	background-color:#666;
	width: 100%;
	display:block;
	height: 80%;
}

/*Controllers*/
h1{
	text-align: center;
}
.p1{
	background-color: #09F;
}

.p2{
	background-color: #F30;
}

form{
	text-align: center;
	width: 30%;
	margin-left: 35%;
	margin-right: 35%;
}
input{
	border-width: 0 0 1px 0;
	border-bottom-color: black;
	text-align: center;
}

button{
	padding: 10px;
	cursor: pointer;
	border: none;
	background-color: #999;
	width: 100%;
}

.wrapper{
	width: 50%;
	min-width: 400px;
	margin-left: 25%;
	margin-right: 25%;
}
.dc{
	border: solid black 1px;
	width: 30%;
	margin-left: 35%;
	margin-right: 35%;
	text-align: center;
	cursor: pointer;
	display:none;
}

